<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingtalk.isv.access.bizex.dingpush.dao.OpenSyncBizDataDao">

    <resultMap type="com.dingtalk.isv.access.bizex.dingpush.model.OpenSyncBizData" id="openSyncBizDataMap">
        <id property="id" column="id" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModified" column="gmt_modified" />
        <result property="subscribeId" column="subscribe_id" />
        <result property="corpId" column="corp_id" />
        <result property="bizId" column="biz_id" />
        <result property="bizType" column="biz_type" />
        <result property="bizData" column="biz_data" />
        <result property="openCursor" column="open_cursor" />
        <result property="status" column="status" />
    </resultMap>

    <sql id="select-all-fields">
            id,
            gmt_create,
            gmt_modified,
            subscribe_id,
            corp_id,
            biz_id,
            biz_type,
            biz_data,
            open_cursor,
            `status`
    </sql>

    <update id="updateStatus">
        update open_sync_biz_data
        set `status`=#{status}
        where subscribe_id=#{subscribeId}
        and corp_id=#{corpId}
        and biz_id=#{bizId}
        and biz_type=#{bizType}
    </update>

    <select id="getOpenSyncBizDataById" resultMap="openSyncBizDataMap">
        SELECT <include refid="select-all-fields"/>  FROM open_sync_biz_data
        <![CDATA[
			WHERE id=#{id}
		 ]]>
    </select>

    <select id="getOpenSyncBizDataListByStatus" resultMap="openSyncBizDataMap">
        SELECT <include refid="select-all-fields"/>  FROM open_sync_biz_data
        <![CDATA[
			WHERE `status`=#{status}
		 ]]>
        ORDER BY id
    </select>
</mapper>