<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
       http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core-5.8.0.xsd"
       default-autowire="byName">


    <!-- 企业授权套件mq -->
    <amq:queue id="corpAuthSuiteQueue" physicalName="corpAuthSuite.queue" />

    <!-- 开放平台回调mq -->
    <amq:queue id="suiteCallBackQueue" physicalName="suiteCallBack.queue" />

    <!-- 当部门和用户数据与第三方同步成功之后回调mq -->
    <amq:queue id="rsqSyncCallBackQueue" physicalName="rsqSyncCallBack.queue" />

    <!-- corp callback 回调mq -->
    <bean id="corpCallbackTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="corpCallback.topic"/>
    </bean>


    <!-- 自行配置mq的地址 -->
    <amq:connectionFactory id="amqConnectionFactory"
                           brokerURL="failover:(tcp://${amq.broker.url1},tcp://${amq.broker.url2})?randomize=false&amp;jms.useAsyncSend=true"
                           userName="${amq.username}"
                           password="${amq.password}" />

    <bean id="connectionFactory"  class="org.springframework.jms.connection.CachingConnectionFactory">
        <constructor-arg ref="amqConnectionFactory" />
        <property name="sessionCacheSize" value="100" />
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <constructor-arg ref="connectionFactory" />
    </bean>


    <!--只在job程序中配置监听-->
    <!-- 消息监听器 -->
    <!--<bean id="suitCallbackMessageListener" class="com.dingtalk.isv.access.biz.event.mq.SuiteCallbackListener"/>-->
    <!--&lt;!&ndash; 消息监听容器 &ndash;&gt;-->
    <!--<bean id="jmsContainer"-->
          <!--class="org.springframework.jms.listener.DefaultMessageListenerContainer">-->
        <!--<property name="connectionFactory" ref="connectionFactory" />-->
        <!--<property name="destination" ref="suiteCallBackQueue" />-->
        <!--<property name="messageListener" ref="suitCallbackMessageListener" />-->
    <!--</bean>-->

    <!--&lt;!&ndash; 与日事清同步成功消息监听器 &ndash;&gt;-->
    <!--<bean id="rsqSyncCallbackMessageListener" class="com.dingtalk.isv.rsq.biz.event.mq.RsqSyncCallbackListener">-->
        <!--<property name="appId" value="${isv.app.id}" />-->
        <!--<property name="sendMessageBody" value="${rsqapi.message.body}" />-->
    <!--</bean>-->
    <!--&lt;!&ndash; 与日事清同步成功消息监听容器 &ndash;&gt;-->
    <!--<bean id="rsqJmsContainer"-->
          <!--class="org.springframework.jms.listener.DefaultMessageListenerContainer">-->
        <!--<property name="connectionFactory" ref="connectionFactory" />-->
        <!--<property name="destination" ref="rsqSyncCallBackQueue" />-->
        <!--<property name="messageListener" ref="rsqSyncCallbackMessageListener" />-->
    <!--</bean>-->

</beans>

