<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd"
       default-autowire="byName">

    <bean id="propertyPlaceholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>file:${user.home}/ddauth-config.properties</value>
            </list>
        </property>
    </bean>

    <!--<util:properties id="config" location="WEB-INF/config.properties"/>-->

    <util:map id="isvGlobal">
        <entry key="appId" value="${isv.app.id}" />
    </util:map>

    <!--公共spring配置文件-->
    <import resource="classpath:spring-beans.xml"/>
    <import resource="classpath:spring-dao.xml"/>
    <import resource="classpath:spring-dao-ding-push.xml"/>
    <import resource="classpath:spring-sdk.xml"/>

    <!--跟类型相关的spring配置文件-->
    <import resource="classpath:type/job/spring-jdbc.xml"/>
    <import resource="classpath:type/job/spring-task.xml"/>
    <import resource="classpath:type/job/spring-queue.xml"/>

</beans>

