<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingtalk.isv.access.biz.corp.dao.CorpDepartmentDao">

    <resultMap type="com.dingtalk.isv.access.biz.corp.model.DepartmentDO" id="corpDepartmentMap">
        <id property="id" column="id" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModified" column="gmt_modified" />
        <result property="corpId" column="corp_id" />
        <result property="deptId" column="dept_id" />
        <result property="name" column="name" />
        <result property="order" column="order" />
        <result property="parentId" column="parent_id" />
        <result property="createDeptGroup" column="create_dept_group" />
        <result property="autoAddUser" column="auto_add_use" />
        <result property="deptHiding" column="dept_hiding" />
        <result property="deptPerimits" column="dept_perimits" />
        <result property="userPerimits" column="user_perimits" />
        <result property="outerDept" column="outer_dept" />
        <result property="outerPermitDepts" column="outer_permit_depts" />
        <result property="outerPermitUsers" column="outer_permit_users" />
        <result property="orgDeptOwner" column="org_dept_owner" />
        <result property="deptManagerUseridList" column="dept_manager_userid_list" />
        <result property="rsqId" column="rsq_id" />
    </resultMap>

    <sql id="select-all-fields">
            id,
            gmt_create,
            gmt_modified,
            corp_id,
            dept_id,
            `name`,
            `order`,
            parent_id,
            create_dept_group,
            auto_add_use,
            dept_hiding,
            dept_perimits,
            user_perimits,
            outer_dept,
            outer_permit_depts,
            outer_permit_users,
            org_dept_owner,
            dept_manager_userid_list,
            rsq_id
    </sql>

    <insert id="saveOrUpdateCorpDepartment" useGeneratedKeys="true" keyProperty="id">
        insert into isv_corp_dept (
            gmt_create,
            gmt_modified,
            corp_id,
            dept_id,
            `name`,
            `order`,
            parent_id,
            create_dept_group,
            auto_add_use,
            dept_hiding,
            dept_perimits,
            user_perimits,
            outer_dept,
            outer_permit_depts,
            outer_permit_users,
            org_dept_owner,
            dept_manager_userid_list,
            rsq_id
        )values(
            now(),
            now(),
            #{corpId},
            #{deptId},
            #{name},
            #{order},
            #{parentId},
            #{createDeptGroup},
            #{autoAddUser},
            #{deptHiding},
            #{deptPerimits},
            #{userPerimits},
            #{outerDept},
            #{outerPermitDepts},
            #{outerPermitUsers},
            #{orgDeptOwner},
            #{deptManagerUseridList},
            #{rsqId}
        )ON DUPLICATE KEY UPDATE
        gmt_modified=now(),
        `name`=#{name},
        `order`=#{order},
        parent_id=#{parentId},
        create_dept_group=#{createDeptGroup},
        auto_add_use=#{autoAddUser},
        dept_hiding=#{deptHiding},
        dept_perimits=#{deptPerimits},
        user_perimits=#{userPerimits},
        outer_dept=#{outerDept},
        outer_permit_depts=#{outerPermitDepts},
        outer_permit_users=#{outerPermitUsers},
        org_dept_owner=#{orgDeptOwner},
        dept_manager_userid_list=#{deptManagerUseridList}
    </insert>



    <select id="getDepartmentByCorpIdAndDeptId" resultMap="corpDepartmentMap">
        SELECT <include refid="select-all-fields"/>  FROM isv_corp_dept
        <![CDATA[
			WHERE corp_id=#{corpId} and dept_id=#{deptId}
		 ]]>
    </select>

    <select id="getDepartmentListByCorpId" resultMap="corpDepartmentMap">
        SELECT <include refid="select-all-fields"/>  FROM isv_corp_dept
        <![CDATA[
			WHERE corp_id=#{corpId}
		 ]]>
    </select>

    <select id="getDepartmentListByParentId" resultMap="corpDepartmentMap">
        SELECT <include refid="select-all-fields"/>  FROM isv_corp_dept
        <![CDATA[
			WHERE corp_id=#{corpId} AND parent_id=#{parentId}
		 ]]>
    </select>

    <delete id="deleteDepartmentByCorpIdAndDeptId">
        delete from isv_corp_dept
        <![CDATA[
			WHERE corp_id=#{corpId} and dept_id=#{deptId}
		 ]]>
    </delete>

    <update id="updateRsqInfo">
        update isv_corp_dept set rsq_id=#{rsqId} where corp_id=#{corpId} and dept_id=#{deptId}
    </update>

</mapper>