<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingtalk.isv.access.biz.corp.dao.CorpStaffDao">

    <resultMap type="com.dingtalk.isv.access.biz.corp.model.StaffIdsDO" id="corpStaffIdsMap">
        <result property="userId" column="user_id"></result>
        <result property="rsqUserId" column="rsq_user_id"></result>
        <result property="emplId" column="user_id"></result>
        <result property="avatar" column="avatar"></result>
        <result property="name" column="name"></result>
    </resultMap>

    <resultMap type="com.dingtalk.isv.access.biz.corp.model.StaffDO" id="corpStaffMap">
        <id property="id" column="id" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModified" column="gmt_modified" />
        <result property="corpId" column="corp_id" />
        <result property="userId" column="user_id" />
        <result property="name" column="name" />
        <result property="tel" column="tel" />
        <result property="workPlace" column="work_place" />
        <result property="remark" column="remark" />
        <result property="mobile" column="mobile" />
        <result property="email" column="email" />
        <result property="active" column="active" />
        <result property="orderInDepts" column="order_in_depts" />
        <result property="isAdmin" column="is_admin" />
        <result property="isBoss" column="is_boss" />
        <result property="dingId" column="ding_id" />
        <result property="isLeaderInDepts" column="is_leader_in_depts" />
        <result property="isHide" column="is_hide" />
        <result property="department" column="department" />
        <result property="position" column="position" />
        <result property="avatar" column="avatar" />
        <result property="jobnumber" column="jobnumber" />
        <result property="extattr" column="extattr" />
        <result property="isSys" column="is_sys" />
        <result property="sysLevel" column="sys_level" />
        <result property="unionId" column="union_id" />
        <result property="rsqUserId" column="rsq_user_id" />
        <result property="rsqUsername" column="rsq_username" />
        <result property="rsqPassword" column="rsq_password" />
    </resultMap>

    <sql id="select-all-fields">
            id,
            gmt_create,
            gmt_modified,
            corp_id,
            user_id,
            `name`,
            tel,
            work_place,
            remark, 
            mobile, 
            email, 
            active, 
            order_in_depts, 
            is_admin, 
            is_boss, 
            ding_id, 
            is_leader_in_depts,
            is_hide, 
            department, 
            `position`, 
            avatar, 
            jobnumber, 
            extattr, 
            is_sys, 
            sys_level,
            union_id,
            rsq_user_id,
            rsq_username,
            rsq_password
    </sql>

    <insert id="saveOrUpdateCorpStaff" useGeneratedKeys="true" keyProperty="id">
        insert into isv_corp_staff (
            gmt_create,
            gmt_modified,
            corp_id,
            user_id,
            `name`,
            tel,
            work_place,
            remark, 
            mobile, 
            email, 
            active, 
            order_in_depts, 
            is_admin, 
            is_boss, 
            ding_id, 
            is_leader_in_depts,
            is_hide, 
            department, 
            `position`, 
            avatar, 
            jobnumber, 
            extattr, 
            is_sys, 
            sys_level,
            union_id,
            rsq_user_id,
            rsq_username,
            rsq_password
        )values(
            now(),
            now(),
            #{corpId},
            #{userId},
            #{name},
            #{tel},
            #{workPlace},
            #{remark}, 
            #{mobile}, 
            #{email}, 
            #{active}, 
            #{orderInDepts}, 
            #{isAdmin}, 
            #{isBoss}, 
            #{dingId}, 
            #{isLeaderInDepts},
            #{isHide}, 
            #{department}, 
            #{position}, 
            #{avatar}, 
            #{jobnumber}, 
            #{extattr}, 
            #{isSys}, 
            #{sysLevel},
            #{unionId},
            #{rsqUserId},
            #{rsqUsername},
            #{rsqPassword}
        )ON DUPLICATE KEY UPDATE
        gmt_modified=now(),
        `name`=#{name},
        tel=#{tel},
        work_place=#{workPlace},
        remark=#{remark},
        mobile=#{mobile},
        email=#{email},
        active=#{active},
        order_in_depts=#{orderInDepts},
        is_admin=#{isAdmin},
        is_boss=#{isBoss},
        is_leader_in_depts=#{isLeaderInDepts},
        is_hide=#{isHide},
        department=#{department},
        `position`=#{position},
        avatar=#{avatar},
        jobnumber=#{jobnumber},
        extattr=#{extattr},
        is_sys=#{isSys},
        sys_level=#{sysLevel},
        union_id=#{unionId}
    </insert>



    <select id="getStaffByCorpIdAndUserId" resultMap="corpStaffMap">
        SELECT <include refid="select-all-fields"/>  FROM isv_corp_staff
        <![CDATA[
			WHERE corp_id=#{corpId} and user_id=#{userId}
		 ]]>
    </select>

    <delete id="deleteStaffByCorpIdAndUserId">
        delete from isv_corp_staff
        <![CDATA[
			WHERE corp_id=#{corpId} and user_id=#{userId}
		 ]]>
    </delete>

    <select id="getStaffListByCorpId" resultMap="corpStaffMap">
        SELECT <include refid="select-all-fields"/>  FROM isv_corp_staff
        <![CDATA[
			WHERE corp_id=#{corpId}
		 ]]>
    </select>

    <update id="updateRsqInfo">
        update isv_corp_staff set rsq_user_id=#{rsqUserId}, rsq_username=#{rsqUsername}, rsq_password=#{rsqPassword} where corp_id=#{corpId} and user_id=#{userId}
    </update>

    <insert id="saveStaffDeleted" useGeneratedKeys="true" keyProperty="id">
        insert into isv_corp_staff_deleted (
        gmt_create,
        gmt_modified,
        corp_id,
        user_id,
        `name`,
        tel,
        work_place,
        remark,
        mobile,
        email,
        active,
        order_in_depts,
        is_admin,
        is_boss,
        ding_id,
        is_leader_in_depts,
        is_hide,
        department,
        `position`,
        avatar,
        jobnumber,
        extattr,
        is_sys,
        sys_level,
        union_id,
        rsq_user_id,
        rsq_username,
        rsq_password
        )values(
        now(),
        now(),
        #{corpId},
        #{userId},
        #{name},
        #{tel},
        #{workPlace},
        #{remark},
        #{mobile},
        #{email},
        #{active},
        #{orderInDepts},
        #{isAdmin},
        #{isBoss},
        #{dingId},
        #{isLeaderInDepts},
        #{isHide},
        #{department},
        #{position},
        #{avatar},
        #{jobnumber},
        #{extattr},
        #{isSys},
        #{sysLevel},
        #{unionId},
        #{rsqUserId},
        #{rsqUsername},
        #{rsqPassword}
        )
    </insert>

    <select id="getUserIdFromRsqId" resultMap="corpStaffIdsMap">
        SELECT user_id, rsq_user_id, avatar, `name`  FROM isv_corp_staff
			WHERE corp_id = #{corpId}
            AND rsq_user_id IN
			<foreach collection="rsqIds" item="item" index="index"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
            ORDER BY FIELD(rsq_user_id,
            <foreach collection="rsqIds" item="item" index="index"
                     open="" separator="," close="">
                #{item}
            </foreach>
            )
    </select>

    <select id="getRsqIdFromUserId" resultMap="corpStaffIdsMap">
        SELECT user_id, rsq_user_id, avatar, `name` FROM isv_corp_staff
        WHERE corp_id = #{corpId}
        AND user_id IN
        <foreach collection="userIds" item="item" index="index"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY FIELD(user_id,
        <foreach collection="userIds" item="item" index="index"
                 open="" separator="," close="">
            #{item}
        </foreach>
        )
    </select>

</mapper>